<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vaishnavi Gujjari</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../static/css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" 
		data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
		aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(../static/images/about.jpg);"></div>
				<h1 id="colorlib-logo"><a href="index.html">Vaishnavi Devi Gujjari</a></h1>
				<span class="position"><strong>Data Analyst</strong></span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="skills">Skills</a></li>
						<li><a href="#" data-nav-section="experience">Experience</a></li>
						<li><a href="#" data-nav-section="education">Education</a></li>
						<li><a href="#" data-nav-section="certifications">Certifications</a></li>
						<li><a href="#" data-nav-section="publications">Publications</a></li>
						<!-- <li><a href="#" data-nav-section="work">Work</a></li> -->
						<!-- <li><a href="#" data-nav-section="blog">Blog</a></li> -->
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

		</aside>

		<div id="colorlib-main">


			<section id="colorlib-hero" class="js-fullheight" data-section="home">				
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li >
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row" >
								<div class="col-md-12 col-sm-12 col-xs-12 js-fullheight slider-text">				   				
									<div class="slider-text-inner js-fullheight" >
										<!-- style="background-image: url(../static/images/img_bg_1.jpg);" -->
					   					<div class="desc" >
						   					<h1>Hi, I'm Vaishnavi</h1>
						   					<h2>Agile Enthusiast | Proficient in Python & JavaScript Libraries | 
												Masters student in Computer Science | Data Analyst | 
												Business Analyst | Data Engineer
											</h2>
											<p>
												<a href="../static/file/Vaishnavi D Gujjari.pdf" 
												download="../static/file/Vaishnavi D Gujjari.pdf" 
												class="btn btn-primary btn-learn">
												Download CV 
												<i class="icon-download4">
												</i>
											</a>
										</p>
									</div>
					   			</div>
					   		</div>
					   	</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>


			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About Me</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										<p><strong>Hi I'm Vaishnavi Gujjari.</strong> 
											I'm a Data Analyst with 2+ years of experience. I'm a currently pursuing my
											Master's Degree in Computer Science from <strong>Arizona State University.</strong>
											I have a Bachelors Degree in Information Technology from 
											<strong>Chaitanya Bharathi Institute of Technology.</strong>
										</p>
										<p>
											
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3  ">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Data <br/>Analysis</h3>
									</div>
								</div>
								<div class="col-md-3  " >
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>Data Interpretation</h3>
									</div>
								</div>
								<div class="col-md-3  ">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>Data Visualization</h3>
									</div>
								</div>
								<div class="col-md-3  ">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>Data <br/> Mining</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- <section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">What I do?</span>
							<h2 class="colorlib-heading">Exploring my expertise</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center  ">
							<div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
								<div class="desc">
									<h3>Innovative Ideas</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center  ">
							<div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center  ">
							<div class="services color-3">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center  ">
							<div class="services color-4">
								<span class="icon">
									<i class="icon-layers2"></i>
								</span>
								<div class="desc">
									<h3>Graphic Design</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center  ">
							<div class="services color-5">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center  ">
							<div class="services color-6">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->


			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">My Specialty</span>
							<h2 class="colorlib-heading  ">My Skills</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12  " >
							<p>
								My expertise in Agile methodology and Scrum practices facilitated a 35% 
								reduction in software development cycle time, ensuring timely product 
								releases and enhanced team collaboration.
							</p>
						</div>
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Visualization Tools</strong></h3>
								<ul>
									<li>Microsoft Excel</li>
									<li>Tableau</li>
									<li>Power BI</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Programming Languages</strong></h3>
								<ul>
									<li>Python</li>
									<li>R</li>
									<li>Java</li>
									<li>C++</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6  ">
							<div class="progress-wrap">
								<h3><strong>Cloud Technologies</strong></h3>
								<ul>
									<li>Amazon Web Services (AWS)</li>
									<li>Microsoft Azure</li>
									<li>Snowflake</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Python and R Libraries</strong></h3>
								<ul>
									<li>Pandas, Numpy, Scikit-learn, Matplotib, Seaborn, Keras, Tensorflow</li>
									<li>ggplot2</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Databases</strong></h3>
								<ul>
									<li>SQL Server</li>
									<li>MySQL</li>
									<li>PostgreSQL</li>
									<li>MongoDB</li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Web Technologies</strong></h3>
								<ul>
									<li>HTML</li>
									<li>CSS</li>
									<li>JavaScript</li>
									<li>React JS</li>
									<li>RESTful APIs</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="progress-wrap">
								<h3><strong>Python Frameworks</strong></h3>
								<ul>
									<li>Flask</li>
									<li>Django</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Accordian Education -->
			<!-- <section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">Education</span>
							<h2 class="colorlib-heading  ">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12  " >
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" 
												href="#collapseOne" aria-expanded="true" 
												aria-controls="collapseOne">
												<strong>
													Master Degree in Computer Science 
													
												</strong>
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" 
										role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
												<h4>Arizona State University</h4>
									            <div class="row">
													
										      		<div class="col-md-6">
										      			<p>
															Relevant Coursework:
															Data Mining, Statistical Machine Learning, Biocomputing, 
															Knowledge Representation, Mobile Computing, Intro to Human-Computer 
															Interaction Information Assurance and Security, Software 
															Verification-Validation-Testing Software Design, Software Security.
														</p>
										      		</div>
										      		<div class="col-md-6">
										      			<p>
															Separated they live in Bookmarksgrove right at 
															the coast of the Semantics, a large language ocean.
														</p>
										      		</div>
										      	</div>
									         </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingTwo">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" 
												data-parent="#accordion" href="#collapseTwo"
												 aria-expanded="false" aria-controls="collapseTwo">
												 Bachelor Degree of Computer Science
									            </a>
									        </h4>
									    </div>
									    <div id="collapseTwo" class="panel-collapse collapse" 
										role="tabpanel" aria-labelledby="headingTwo">
									        <div class="panel-body">
									            <p>Far far away, behind the word <strong>mountains</strong>, 
													far from the countries Vokalia and Consonantia, there live 
													the blind texts. Separated they live in Bookmarksgrove right 
													at the coast of the Semantics, a large language ocean.
												</p>
													<ul>
														<li>Separated they live in Bookmarksgrove right</li>
														<li>Separated they live in Bookmarksgrove right</li>
													</ul>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Diploma in Information Technology
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">
									            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>	
									        </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFour">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Diploma in Information Technology
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
									        <div class="panel-body">
									            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>	
									        </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">High School Secondary Education
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
									            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>	
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">Experience</span>
							<h2 class="colorlib-heading  ">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2>Data Analyst at Sureify <span>2020 - 2022</span></h2>
									  <p>
										-	Led a cross-functional team, achieving a remarkable 67% increase in 
										project completion rate, delivering 5 major projects within a year, meeting 
										all quality and functionality requirements.
										<br/>
										-	Created and maintained database Tables using DynamoDB, developed Lambda 
										functions using Python and created APIs using API gateway in AWS.
										<br/>
										-	Created a Data Ingestion system to integrate diverse source systems with 
										the Snowflake Data Warehouse.
										<br/>
										-	Conducted Data Warehousing, Data Ingestion, Data Collection, Data Cleaning, 
										Data Wrangling, and Data Analysis, alongside developing Machine Learning models 
										utilizing Python.
										<br/>
										-	Created interactive dashboards and reports using Tableau to track progress 
										and visualize performance.
										<br/>
										-	Implemented Data Analysis Expressions (DAX) calculations to extract meaningful insights from data.
										<br/>
										-	Created, executed, tested complex SQL queries by performing A/B testing & Hypothesis testing.
										<br/>
										-	Boosted software development life cycle efficiency by 35% with Agile/Scrum and 
										JIRA boards.
										<br/>
										-	Led and mentored a team of 8 interns in Python, Flask, Tableau and Power BI. 

									  </p>
					               </div>
					            </div>
					         </article>


					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Data Analyst Intern at Innopark Ventures <span>2020-2020</span></h2>
									<p>
										-	Pioneered implementation of an innovative platform named rent-a-block and 
										attained 45% increase in revenue over estimated projections through the development 
										and launch of the platform.
										<br/>
										-	Led a pivotal project focused on developing a predictive model to estimate 
										property values accurately. 
										<br/>
										-	Automated web scraping tool using Python and conducted meticulous data cleaning 
										and preprocessing, including one-hot encoding, to ensure data integrity and 
										suitability for model training.
										<br/>
										-	Applied advanced techniques such as hyperparameter tuning to optimize model 
										performance, resulting in a Root Mean Squared Error (RMSE) of 0.16.
										<br/>
										-	Collaborated closely with cross-functional teams throughout the project 
										lifecycle, fostering seamless integration of machine learning solutions into 
										existing business operations.
										<br/>
										-	Documented project methodologies, findings, and insights, contributing to 
										organizational knowledge management and facilitating future data-driven initiatives.										
									</p>					               
									</div>
					            </div>
					         </article>

					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Data Analyst ACMS Mentee at Amazon <span>2020-2020</span></h2>
					               <p>
									-	Partnered with Business Analysts and Stakeholders to collect and define 
									reporting needs and specifications.
									<br/>
									-	Engaged in gathering requirements, analyzing source data, and defining 
									business roles for Data Migration and the development of Data Warehouse/Data 
									Mart solutions.
									<br/>
									-	Created and executed SQL scripts to implement database changes, such as 
									updating tables, adding, or modifying indexes, and implementing stored 
									procedures.
									<br/>
									-	Developed Interactive Dashboards using Tableau to visually represent key 
									performance indicators and monitor progress toward organizational objectives
									<br/>
									-	Achieved a 25% improvement in website loading speed through algorithm 
									optimization techniques.
									<br/>
									-	Validated data and data interpretations using R Statistical Software.									
								   </p>
									</div>
					            </div>
					         </article>

					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Microsoft Student Partner at Microsoft <span>2019-2020</span></h2>
									<p>
										-	Facilitated GitHub, Python and JavaScript practice sessions at CBIT campus, leading to a 25% increase in attendees' technical proficiency. 
										<br/>
										-	Created and presented interactive and visually appealing dashboards using Power BI and Tableau
										<br/>
										-	Organized Microsoft Women in Tech events, leading to a 35% increase in diversity initiatives within the technology sectors.  Participated in Microsoft seminars, enhancing expertise in their programs.

									</p>
								</div>
					            </div>
					         </article>

					         <!-- <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">UI/UX Designer at Envato</a> <span>2017-2018</span></h2>
					                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					               </div>
					            </div>
					         </article> -->

					         <article class="timeline-entry begin  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>


			<section class="colorlib-experience" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">Education</span>
							<h2 class="colorlib-heading  ">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2>Masters in Computer Science, Arizona State University</h2>
					                  <p>
										<strong>RELEVANT COURSEWORK</strong>
										<br/>
										Data Mining, Statistical Machine Learning, Biocomputing, 
										Knowledge Representation, Mobile Computing, Intro to Human-Computer Interaction 
										Information Assurance and Security, Software Verification-Validation-Testing, 
										Software Design, Software Security.
										<br/>
										<br/>
										<strong>LEADERSHIP AND ACTIVITIES</strong>
										<br/>
									  </p>
					               </div>
					            </div>
					         </article>


					         <article class="timeline-entry  ">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Bachelors in Engineering in Information Technology, Chaitanya Bharathi Institute of Technology</h2>
					                  <p>
										<strong>RELEVANT COURSEWORK</strong>
										<br/>
										Python Programming, Fundamentals of Data Science, Data Warehousing and Data Mining, 
										Artificial Intelligence, Programming and Problem Solving, Social Media Analytics, 
										Big Data Analytics, Database Systems, Discrete Structures and Applications, 
										Data structures and Algorithms, Design and Analysis of Algorithms.
										<br/><br/>
										<strong>LEADERSHIP AND ACTIVITIES</strong>
										<br/>
										• Deputy Executive Board- Publicity for Shruthi 2020.
										<br/>
										• Chief coordinator for the event Blind Coding, conducted by Tecstasy as a part of technical fest 2019,
										organized by CBIT.
										<br/>
										• Deputy Executive Board for Django Bootcamp 2.0, conducted by CBIT open source community.
										<br/>
										• Captain for the Throw Ball team (February 2019) for the Department of Information Technology held
										at CBIT.
										<br/>
										• Deputy Executive Board- Ticketing, for the event Homecoming, conducted by CBIT.
										<br/>
										• Director for the CBIT MUN 2018.
										<br/>
										• Secretariat member for the CBIT MUN 2018.
									  </p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry  ">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Intermediate - MPC, Sri Chaitanya College of Education</h2>
					                  <p>
										<strong>LEADERSHIP AND ACTIVITIES</strong>
										<br/>
										• Secretary for Swachh Bharat Abhiyan for the academic year 2016-2017.
									  </p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry  ">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>High School, Oasis School</h2>
					                  <p>
										<strong>LEADERSHIP AND ACTIVITIES</strong>
										<br/>
										• Cultural Secretary for the academic year 2014-2015 at Oasis School.
										<br/>
										• House Captain for the academic year 2014-2015 for Abdul Kalam house at Oasis School.
									  </p>
					               </div>
					            </div>
					         </article>

					         <!-- <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2></h2>
					                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					               </div>
					            </div>
					         </article> -->

					         <article class="timeline-entry begin  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>


			<section class="colorlib-experience" data-section="certifications">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  " >
							<span class="heading-meta">Certifications</span>
							<h2 class="colorlib-heading  ">Certifications</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							<article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
									<h2>SQL (Basic) Certificate</h2>
									<img src="../static/images/certifications/3.jpeg" 
									style="height: 250px; width: 300px;"/>
					               </div>
					            </div>
					         </article>
					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					                  <h2>Agile Software Development, LinkedIn</h2>
					                  <img src="../static/images/certifications/1.jpeg" 
									  style="height: 250px; width: 300px;"/>
					               </div>
					            </div>
					         </article>


					         <article class="timeline-entry  ">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
									<h2>Jira Fundamentals Badge, Atlassian</h2>
									<img src="../static/images/certifications/2.jpeg" 
									style="height: 250px; width: 300px;"/>
								 </div>
					            </div>
					         </article>

					         
					         <article class="timeline-entry begin  ">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>


			<section class="colorlib-experience" data-section="publications">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  ">
							<span class="heading-meta">publications</span>
							<h2 class="colorlib-heading  ">Research Paper</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry  " >
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2>
										Recommendations of Insurance Products based on User Behaviour,
										iJRASET
									  </h2>
					                  <p>
										<strong>VAISHNAVI GUJJARI, SIRISHA ALAMANDA</strong>
										<br/>
										<br/>
										<img src="../static/images/publications/1.jpeg" 
										style="height: 250px; width: 300px;"/>
									  </p>
					               </div>
					            </div>
					         </article>
					         
					         <article class="timeline-entry begin  " >
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>


			<!-- <section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  ">
							<span class="heading-meta">My Work</span>
							<h2 class="colorlib-heading  ">Recent Work</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm  " >
						<div class="col-md-12">
							<p class="work-menu"><span><a href="#" class="active">Graphic Design</a></span> <span><a href="#">Web Design</a></span> <span><a href="#">Software</a></span> <span><a href="#">Apps</a></span></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6  ">
							<div class="project" style="background-image: url(../static/images/img-1.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 01</a></h3>
										<span>Website</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="project" style="background-image: url(../static/images/img-2.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 02</a></h3>
										<span>Animation</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="project" style="background-image: url(../static/images/img-3.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 03</a></h3>
										<span>Illustration</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="project" style="background-image: url(../static/images/img-4.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 04</a></h3>
										<span>Application</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="project" style="background-image: url(../static/images/img-5.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 05</a></h3>
										<span>Graphic, Logo</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6  " >
							<div class="project" style="background-image: url(../static/images/img-6.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Work 06</a></h3>
										<span>Web Design</span>
										<p class="icon">
											<span><a href="#"><i class="icon-share3"></i></a></span>
											<span><a href="#"><i class="icon-eye"></i> 100</a></span>
											<span><a href="#"><i class="icon-heart"></i> 49</a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12  ">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
						</div>
					</div>
				</div>
			</section> -->


			<!-- <section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  ">
							<span class="heading-meta">Read</span>
							<h2 class="colorlib-heading">Recent Blog</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6  ">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="../static/images/blog-1.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Renovating National Gallery</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6  " >
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="../static/images/blog-2.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Wordpress for a Beginner</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6  ">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="../static/images/blog-3.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Inspiration </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Make website from scratch</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12  ">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
						</div>
					</div>
				</div>
			</section> -->


			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3  ">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<!-- <div class="colorlib-feature colorlib-feature-sm  " >
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="#">info@domain.com</a></p>
								</div>
							</div> -->

							<div class="colorlib-feature colorlib-feature-sm  " >
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p>Seattle, Washington</p>
								</div>
							</div>

							<!-- <div class="colorlib-feature colorlib-feature-sm  " >
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+123 456 7890</a></p>
								</div>
							</div> -->
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1  " >
									<form action="/submit_form" method="post">
										<div class="form-group">
											<input
											name="name" 
											type="text" class="form-control" 
											placeholder="Name">
										</div>
										<div class="form-group">
											<input
											name="email"
											type="email" class="form-control" 
											placeholder="Email">
										</div>
										<div class="form-group">
											<input 
											name="subject"
											type="text" class="form-control" 
											placeholder="Subject">
										</div>
										<div class="form-group">
											<textarea 
											name="message" id="message" cols="30" rows="7" 
											class="form-control" placeholder="Message">
										</textarea>
										</div>
										<div class="form-group">
											<button 
											type="submit" 
											class="btn btn-primary btn-send-message">
											Send Message
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="../static/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="../static/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="../static/js/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

